<h1>{{end.storyPart}}</h1>

<p>
    After a while, Rupert met a beautiful fox named {{end.foxWife}}. They fell deeply in love and lived in {{end.housing}}.
    They lived there happily ever after. The end.
</p>

<a href="/middle">middle</a>
<br>
<a href="/beginning">beginning</a>