<h1>{{middle.storyPart}}</h1>
<p>
    One day, Rupert decided to visit {{middle.place}}. So, he hopped on a {{middle.travelVehicle}} to get there. Once
    he got there, he decided to stay for at least {{middle.yearsToStay}} years.
</p>
<a href="/beginning">beginning</a>
<br>
<a href="/end">end</a>